body{
	color:purple;
	font-family:Arial;
}
h1{text-align: center;
  color:yellowgreen;
}
p{text-align:left}
.first{text-align:left; }
h2{text-align: left;
  color:yellow;
}
h3{text-align:left;
  color:red;
}
h4{text-align:left; 
   color:darkgoldenrod;
}
h2{text-align: left;
   color: darkorange;
}
h5{text-align: left;
   color: royalblue;
}